<div class="container leftCard">
  <div class="row">
    <div class="col-6">
      <img
        src="https://th.bing.com/th/id/OIP.WeffVIPmOB9ppjrtRq7dsQHaE_?rs=1&pid=ImgDetMain"
        width="100%"
        height="300"
      />
    </div>
    <div class="col-6">
      <h2>Microsoft surface</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore
        dolore, sapiente maxime sit voluptate, excepturi molestiae, eos quis
        pariatur doloribus consequatur expedita recusandae laudantium quia.
        Adipisci quas, error accusantium ipsam mollitia veniam corporis atque
        sed numquam quam inventore asperiores ex cumque pariatur itaque ab
        voluptate, dolore, laborum veritatis nam. Praesentium in corporis libero
        quisquam veritatis velit aperiam non, sed recusandae, suscipit ullam
        quos iure alias animi numquam esse ipsum quas culpa quidem omnis odio
      </p>
      <button class="btn btn-outline-primary">Show Now</button>
    </div>
  </div>
</div>